<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
  <% if @user.denied%>
      <span class="label label-info">Frozen</span>
  <% end %>
</h2>

<% unless @user.ratings.count == 0 %>
<p>
  Number of ratings <%= @user.ratings.count  %>, average <%= @user.average_rating %>
</p>
<p>
  Favorite beer style: <%= @user.favorite_style.name %>
</p>
<% else %>
    <p>User doesn't have any ratings yet</p>
<% end %>

<p>
  <ul>
  <% @user.ratings.each do |rating| %>
    <li><%= rating.beer %> score: <%= rating.score %>
      <% if @user == current_user %>
        <%= link_to 'Delete', rating, method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-danger btn-xs"%>
      <% end %>
    </li>
    <% end %>
  </ul>
</p>

<b>Beer clubs:</b>
<ul>
  <% @user.beer_clubs.each do |club| %>
      <li><%= link_to club.name, club%></li>
  <% end %>
</ul>

<% if admin %>
    <% if @user.denied %>
      <%= link_to "release account", toggle_denied_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% else %>
      <%= link_to "freeze account", toggle_denied_user_path(@user.id), method: :post, class: "btn btn-primary" %>
    <% end%>
<% end %>
<br>
<br>
<div class="btn-group btn-group-sm" role="group" aria-label="...">
  <% if current_user == @user%>
      <button type="button" class="btn btn-danger"><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }%></button>
      <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_user_path(@user) %></button>
  <% end %>
  <button type="button" class="btn btn-default"><%= link_to 'Back', users_path %></button>
</div>