<p id="notice"><%= notice %></p>
<h2>
  <%= @brewery.name %>
  <% if not @brewery.active  %>
      <span class="label label-info">retired</span>
  <% end %>
</h2>

<br>

<i>
  Established at <%= @brewery.year %>
</i>

<br>
<br>

<p>
  Number of beers <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>

<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>


<p>
  Has <%= pluralize(@brewery.ratings.count, 'rating') %> <% if @brewery.ratings.count > 1 %>, average <%= round(@brewery.average_rating) %> <%end%>
</p>
<div class="btn-group btn-group-sm" role="group" aria-label="...">
  <%= edit_and_destroy_buttons(@brewery) %>
  <button type="button" class="btn btn-default"><%= link_to 'List of beers', beers_path %></button>
</div>