<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style.name %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<% if @beer.ratings.empty?%>
    Beer has not yet been rated!
<% else %>
    Beer has <%= pluralize(@beer.ratings.count, 'rating') %>, average <%= @beer.average_rating %>
<% end %>

<br>
<br>

<% if current_user %>

    <h4>give a rating:</h4>

    <%= form_for(@rating) do |f| %>
        <%= f.hidden_field :beer_id %>
        score: <%= f.number_field :score %>
        <%= f.submit class:"btn btn-primary" %>
    <% end %>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">

<% end %>

<%= edit_and_destroy_buttons(@beer) %>

<button type="button" class="btn btn-default"><%= link_to 'Back', beers_path %></button>
</div>